@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --glass-border: rgba(255, 255, 255, 0.08);
  --glass-bg: rgba(255, 255, 255, 0.03);
  --font-geist-sans: "Inter", sans-serif;
}

body {
  background-color: #050505;
  color: #ededed;
  overflow-x: hidden;
  color-scheme: dark; /* <--- ЭТО СДЕЛАЕТ СКРОЛЛБАР ТЕМНЫМ */
}

/* Принудительно убираем белый фон у инпутов */
input, button {
  appearance: none; 
  background-color: transparent;
}

.glass-panel {
  background: var(--glass-bg);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid var(--glass-border);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Для Firefox */
}